@font-face{
    font-family: "OpenSans";
    src: url('../font/open-sans/OpenSans-Regular.ttf');
}
@font-face{
    font-family: "open-sans-semibold";
    src: url('../font/open-sans/OpenSans-Semibold.ttf');
}
@font-face{
    font-family: "Dosis";
    src: url('../font/Dosis/Dosis-Regular.ttf');
}
body{
    background-color: black;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.navbar-brand img{
    height: 40px;
    width: auto;
}

.navbar-nav{
    width: 700px;
    margin: auto;
}

.navbar-nav li{
    padding-left: 10%;
}

.navbar-nav li a{
    font-family: "OpenSans";
    font-size: 18px;
    font-weight: bold;
}

.jumbotron{
    background-image: url('../image/Background.jpg');
    background-size: contain;
    background-position: center;
    height: 760px;
    margin-top: -70px;
    color: white;
    overflow: hidden;
    z-index: 2;
}

.produck{
    background-image: url('../image/Background.jpg');
    background-size: contain;
    background-position: center;
    height: 740px;
    margin-top: -70px;
    color: white;
    overflow: hidden;
    z-index: 2;
}

.jumbotron .container{
    padding-top: 150px;
}

.jumbotron .ft-produck .container{
    padding-top: 0px;
}

.jumbotron .display-4{
    font-family: "Dosis";
    font-size: 108px;
    font-weight: bold;
    color: #FFAA00;
}

.jumbotron .d-flex{
    margin-top: 50px;
}

.jumbotron .img-produck{
    width: 33%;
    height: auto;
    z-index: 2;
    margin: 0px -4% ;
}

.jumbotron .produckbannertext{
    font-family: "Dosis";
    font-size: 78px;
    text-align: center;
    font-weight: bold;
    color: #FFAA00;
    margin-top: -25px;
}

.jumbotron .lead{
    font-size: 26px;
    margin-bottom: 30px;
}

.jumbotron .btn-primary{
    border-radius: 50px;
    padding: 10px 30px;
    margin-bottom: 50px;
}

.jumbotron .i-produck{
    height: 550px;
    z-index: 10;
    float: right;
    margin: -320px 0 0 0px;
    position: relative;
}

.jumbotron .table{
    z-index: 1;
    height: 210px;
    width: 110%;
    margin: -200px 0 0 -32px;
}

.jumbotron .tableproduck{
    z-index: 1;
    height: 210px;
    width: 110%;
    margin: -100px 0 0 -32px;
}

.jumbotron .reseller h1{
    font-family: "Dosis";
    font-size: 52px;
    font-weight: bold;
    color: #FFAA00;
    margin-bottom: 20px;
}

.jumbotron .reseller #first{
    font-family: "open-sans-semibold";
    font-size: 28px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    font-style: italic;
}

.jumbotron .reseller #second{
    font-family: "open-sans-semibold";
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.jumbotron .reseller a{
    font-size: 18px;
    font-weight: bold;
}

.jumbotron .reseller img{
    width: 110%;
    height: auto;
    margin-top: -80px;
}

.describe{
    margin-top: -35px;
    height: 680px;
    background-image: url('../image/bg11.jpg');
    background-size: 280px;
    overflow: hidden;
}

/* #img-describe{
    background-image: url('../image/2.png');
    background-size: cover;
    height: 660px;
    background-position: top;
    margin-top: 20px;
    background-size: 530px;
    background-position: left;
} */

#img-describe img{
    height: 650px;
    margin-top: 30px;
}
.describe h2{
    text-align: center;
    color: white;
    background-color: black;
    width: 60%;
    padding: 8px 20px;
    font-size: 32px;
    font-family: "Dosis";
    margin: 80px auto 20px auto;
    border-radius: 15px;
    font-weight: bold;
}
.describe p{
    font-family: "open-sans-semibold";
    font-style: italic;
    font-size: 30px;
    text-align: right;
}

.describe-produck{
    height: auto;
    background-image: radial-gradient(#3b5360, black);
    background-size: cover;
    overflow: hidden;
    color: white;
    padding: 100px 0px;
}

.peluang-reseller{
    margin-top: -35px;
    height: 725px;
    background-image: url("../image/bg2.jpg");
    background-size: 880px;
    overflow: hidden;
    padding: 100px 0px 0px 0px;
}

.peluang-reseller h3{
    font-size: 36px;
    font-family: 'Dosis';
    font-weight: bold;
}

.peluang-reseller h4{
    font-size: 24px;
    font-family: 'Dosis';
    font-weight: bold;
}

.peluang-reseller li{
    color: black;
    font-size: 20px;
    font-family: 'open-sans-semibold';
}

.peluang-reseller p{
    font-size: 20px;
    font-family: 'open-sans-semibold';
    font-style: italic;
}

.peluang-reseller img{
    width: 120%;
    height: auto;
    margin-left: -50px;
}

.describe-produck p, li{
    color: white;
    font-family: "open-sans-semibold";
    line-height: 35px;
    font-size: 20px;
    font-style: italic;
}

.describe-produck .head-describe p{
    text-align: center;
    padding-bottom: 40px;
}

.describe-produck h2{
    text-align: center;
    color: white;
    width: 60%;
    padding: 8px 20px;
    font-size: 44px;
    font-family: "Dosis";
    margin: 0px auto 10px auto;
    border-radius: 15px;
    font-weight: bold;
}

.image-descrip-product img{
    width: 140%;
    height: auto;
    margin-left: -75px;
}

#info-product{
    background-image: url('../image/Background.jpg');
    background-size: cover;
    height: 610px;
    color: white;
}

#info-product-reseller{
    background-image: url('../image/Background.jpg');
    background-size: cover;
    height: 1200px;
    color: white;
    overflow: hidden;
}

#info-product-reseller h2{
    font-family: "Dosis";
    font-weight: bold;
    font-size: 36px;
    margin-top: 110px;
    text-align: center;
}

#info-product-reseller h3{
    font-family: "Dosis";
    font-weight: bold;
    font-size: 32px;
    margin-top: 50px;
    text-align: center;
}

#info-product-reseller .gambar{
    text-align: center;
}

#info-product-reseller img{
    width: 60%;
    height: auto;
    margin-top: 50px;
}

#info-product-reseller p{
    font-family: "OpenSans";
    font-style: italic;
    color: #FFC000;
    font-size: 22px;
    text-align: center;
}

.info-hal-product{
    background-size: cover;
    height: auto;
    padding: 100px 0;
}

.info-hal-product p{
    font-family: "Dosis";
    font-weight: bold;
    font-size: 28px;
    color: black;
}

.info-hal-product h2{
    width: 48%;
    padding: 5px;
    font-family: "Dosis";
    font-size: 44px;
    font-weight: bold;
    margin: 0px 0px 40px 0px;
    border-radius: 20px;
    background-color: black;
}

.info-hal-product .bungkus{
    width: 200px;
    height: 200px;
    border: solid black 5px;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;
}

.info-hal-product .bungkus img{
    width: 100%;
    height: auto;
}

.tela-sparta .bungkus{
    width: 200px;
    height: 300px;
    border: solid black 5px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;
}

.iela-sparta .bungkus img{
    width: auto;
    height: 100%;
}

.info-hal-product .bungkus-banner img{
    width: 100%;
    height: auto;
}

.info-hal-product .bungkus-banner{
    width: 400px;
    height: 400px;
    border: solid black 5px;
    border-radius: 10px;
    margin: 0 auto 100px auto;
    overflow: hidden;
}

#info-product h2{
    font-family: "Dosis";
    font-weight: bold;
    font-size: 36px;
    margin-top: 110px;
}

#info-product p{
    font-family: "OpenSans";
    font-style: italic;
    color: #FFC000;
    font-size: 22px;
}
#info-product img{
    height: 400px;
    margin-top: 130px;
}

#daftar-reseller{
    height: 1150px;
    background-image: url("../image/bg2.jpg");
    background-size: 800px;
    padding: 80px 0 30px 0;
    overflow: hidden;
    text-align: center;
}

#daftar-reseller h2{
    font-family: "Dosis";
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 80px;
}

#daftar-reseller #panah{
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

#daftar-reseller a{
    font-family: 'OpenSans';
    font-size: 18px;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 30px;
    margin-bottom: 50px;
}

#daftar-reseller p{
    font-family: "Dosis";
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
}

#daftar-reseller #gambar{
    width: 50%;
    height: auto;
    margin: -20px;
}

#info-reseller{
    height: 670px;
    background-image: url("../image/bg2.jpg");
    background-size: 800px;
    padding: 80px 0 30px 0;
    overflow: hidden;
}
#info-reseller h2{
    text-align: center;
    font-family: "Dosis";
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 30px;
}
#info-reseller p{
    font-family: "OpenSans";
    font-size: 22px;
    font-weight: 600;
}
#info-reseller li{
    list-style-image: url("../image/check.png");
    padding-top: 5px;
    font-family: "OpenSans";
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}
#info-reseller img{
    height: 700px;
    float: right;
    margin-top: -50px;
}
#info-testi{
    height: 770px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px 0 30px 0px;
}
#info-testi h2{
    font-family: "Dosis";
    font-size: 42px;
    font-weight: bold;
}
#info-testi p{
    font-family: "Dosis";
    font-size: 20px;
    font-weight: bold;
}
#info-testi #testi{
    width: 400px;
    margin: 0 auto;
}
#info-testi #testi img{
    height: 400px;
    margin: 30px auto;
}

#info-testi #prev{
    margin-left: 150px;
}

#info-testi #next{
    margin-right: 150px;
}

#footer-web{
    height: 200px;
    background-color: black;
    margin: 0px 0px 0px -30px;
    padding-top: 60px;
    text-align: center;
    overflow: hidden;
    padding-left: 30px;
}
#footer-web i{
    padding: 15px 10px;
}
.fa-facebook-f,
.fa-whatsapp,
.fa-instagram{
    color: #FFC000;
}
#footer-web h4{
    font-family: "Dosis";
    font-weight: bold;
    font-size: 32px;
    color: #FFC000;
}
#footer-web p{
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 14px;
    color: white;
}